bin/
coverage.out
**/.idea
.vscode/*
*.swp
node_modules/
.DS_Store
site/node_modules/
site/themes/docsy
internal/pkg/template/templates/custom-resources/
regression/*/copilot/
cf-custom-resources/coverage
gitstatus.txt