AssumeRolePolicyDocument:
  Version: '2012-10-17'
  Statement:
    - Effect: Allow
      Principal:
        Service:
          - codebuild.amazonaws.com
      Action:
        - sts:AssumeRole
ManagedPolicyArns:
  - 'arn:aws:iam::aws:policy/AmazonSSMReadOnlyAccess' # for env ls
  - 'arn:aws:iam::aws:policy/AWSCloudFormationReadOnlyAccess' # for service package
