.td-content {
    p {
        max-width: 100%;
        line-height: 1.6;
    }
    h1 {
        margin-bottom: 40px;
        font-weight: 700;
    }
    h2, h3, h4, h4 {
        margin-bottom: 20px;
        font-weight: 700;
    }
}