{
  "Parameters" : {
    "ProjectName" : "{{.Env.Project}}",
    "EnvName": "{{.Env.Name}}",
    "AppName": "{{.App.Name}}",
    "ContainerImage": "{{.Image.URL}}",
    "ContainerPort": "{{.Image.Port}}",
    "RulePath": "{{.App.Path}}",
    "TaskCPU": "{{.App.CPU}}",
    "TaskMemory": "{{.App.Memory}}",
    "TaskCount": "{{.App.Count}}",
    "HTTPSEnabled": "{{.HTTPSEnabled}}",
    "LogRetention": "30",
    "AddonsTemplateURL": "",
    "HealthCheckPath": "{{.App.HealthCheckPath}}"
  },{{$n := len .Tags}}{{if gt $n 0}}
  "Tags": { {{range $i, $t := .Tags}}
    {{if eq (inc $i) $n}}"{{$t.Key}}": "{{$t.Value}}"{{else}}"{{$t.Key}}": "{{$t.Value}}",{{end}}{{end}}
  }{{end}}
}
